USE [master]
GO
/****** Object:  Database [EmployeesProject]    Script Date: 8/6/2025 3:03:41 AM ******/
CREATE DATABASE [EmployeesProject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeesProject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EmployeesProject.mdf' , SIZE = 10240KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmployeesProject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EmployeesProject_log.ldf' , SIZE = 10240KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeesProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeesProject]
GO
/****** Object:  Table [dbo].[Announcements]    Script Date: 8/6/2025 3:03:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Announcements](
	[announcement_id] [int] NOT NULL,
	[title] [varchar](150) NOT NULL,
	[message] [text] NULL,
	[issue_date] [date] NOT NULL,
	[company_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[announcement_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 8/6/2025 3:03:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[attendance_id] [int] NOT NULL,
	[employee_id] [int] NULL,
	[check_in_time] [datetime2](7) NULL,
	[check_out_time] [datetime2](7) NULL,
	[work_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[attendance_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Benefits]    Script Date: 8/6/2025 3:03:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Benefits](
	[benefit_id] [int] NOT NULL,
	[benefit_name] [varchar](100) NOT NULL,
	[description] [text] NULL,
	[company_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[benefit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Certifications]    Script Date: 8/6/2025 3:03:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certifications](
	[certification_id] [int] NOT NULL,
	[certification_name] [varchar](150) NOT NULL,
	[issuing_organization] [varchar](150) NULL,
	[issue_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[certification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 8/6/2025 3:03:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[company_id] [int] NOT NULL,
	[company_name] [varchar](100) NOT NULL,
	[company_address] [varchar](255) NULL,
	[company_email] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[company_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 8/6/2025 3:03:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[department_id] [int] NOT NULL,
	[department_name] [varchar](100) NOT NULL,
	[company_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documents]    Script Date: 8/6/2025 3:03:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documents](
	[document_id] [int] NOT NULL,
	[document_name] [varchar](150) NOT NULL,
	[document_type] [varchar](50) NOT NULL,
	[upload_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[document_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmergencyContacts]    Script Date: 8/6/2025 3:03:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmergencyContacts](
	[emergency_contact_id] [int] NOT NULL,
	[employee_id] [int] NULL,
	[contact_name] [varchar](100) NOT NULL,
	[relationship] [varchar](50) NULL,
	[contact_phone] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[emergency_contact_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeBenefits]    Script Date: 8/6/2025 3:03:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeBenefits](
	[employee_benefit_id] [int] NOT NULL,
	[employee_id] [int] NULL,
	[benefit_id] [int] NULL,
	[start_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_benefit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeCertifications]    Script Date: 8/6/2025 3:03:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeCertifications](
	[employee_certification_id] [int] NOT NULL,
	[employee_id] [int] NULL,
	[certification_id] [int] NULL,
	[achieved_date] [date] NULL,
	[expiration_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_certification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeDocuments]    Script Date: 8/6/2025 3:03:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeDocuments](
	[employee_document_id] [int] NOT NULL,
	[employee_id] [int] NULL,
	[document_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_document_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeEquipment]    Script Date: 8/6/2025 3:03:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeEquipment](
	[employee_equipment_id] [int] NOT NULL,
	[employee_id] [int] NULL,
	[equipment_id] [int] NULL,
	[issue_date] [date] NULL,
	[return_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_equipment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeEvents]    Script Date: 8/6/2025 3:03:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeEvents](
	[employee_event_id] [int] NOT NULL,
	[employee_id] [int] NULL,
	[event_id] [int] NULL,
	[registration_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_event_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeProjects]    Script Date: 8/6/2025 3:03:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeProjects](
	[employee_project_id] [int] NOT NULL,
	[employee_id] [int] NULL,
	[project_id] [int] NULL,
	[assigned_date] [date] NULL,
	[completion_date] [date] NULL,
	[role_description] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_project_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 8/6/2025 3:03:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[employee_id] [int] NOT NULL,
	[first_name] [varchar](50) NOT NULL,
	[last_name] [varchar](50) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[phone] [varchar](20) NULL,
	[hire_date] [date] NULL,
	[company_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeSurveys]    Script Date: 8/6/2025 3:03:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeSurveys](
	[employee_survey_id] [int] NOT NULL,
	[employee_id] [int] NULL,
	[survey_id] [int] NULL,
	[completion_status] [varchar](50) NULL,
	[completion_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_survey_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeTasks]    Script Date: 8/6/2025 3:03:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeTasks](
	[employee_task_id] [int] NOT NULL,
	[employee_id] [int] NULL,
	[task_id] [int] NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_task_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeTrainings]    Script Date: 8/6/2025 3:03:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeTrainings](
	[employee_training_id] [int] NOT NULL,
	[employee_id] [int] NULL,
	[training_program_id] [int] NULL,
	[completion_status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_training_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipment]    Script Date: 8/6/2025 3:03:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipment](
	[equipment_id] [int] NOT NULL,
	[equipment_name] [varchar](100) NOT NULL,
	[equipment_description] [text] NULL,
	[purchase_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[equipment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 8/6/2025 3:03:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[event_id] [int] NOT NULL,
	[event_name] [varchar](150) NOT NULL,
	[event_date] [date] NULL,
	[location] [varchar](100) NULL,
	[description] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[event_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 8/6/2025 3:03:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[feedback_id] [int] NOT NULL,
	[feedback_text] [text] NOT NULL,
	[feedback_date] [date] NOT NULL,
	[employee_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HelpDesks]    Script Date: 8/6/2025 3:03:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HelpDesks](
	[help_desk_id] [int] NOT NULL,
	[contact_name] [varchar](100) NOT NULL,
	[contact_email] [varchar](100) NOT NULL,
	[contact_phone] [varchar](20) NULL,
	[company_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[help_desk_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ITSupportTickets]    Script Date: 8/6/2025 3:03:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITSupportTickets](
	[ticket_id] [int] NOT NULL,
	[issue_description] [text] NOT NULL,
	[reporter_id] [int] NULL,
	[status] [varchar](50) NULL,
	[created_date] [date] NULL,
	[resolved_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobRoles]    Script Date: 8/6/2025 3:03:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobRoles](
	[job_role_id] [int] NOT NULL,
	[job_role_name] [varchar](100) NOT NULL,
	[department_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[job_role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Leaves]    Script Date: 8/6/2025 3:03:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leaves](
	[leave_id] [int] NOT NULL,
	[leave_type] [varchar](50) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[employee_id] [int] NULL,
	[approval_status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[leave_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payroll]    Script Date: 8/6/2025 3:03:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payroll](
	[payroll_id] [int] NOT NULL,
	[employee_id] [int] NULL,
	[pay_period_start] [date] NULL,
	[pay_period_end] [date] NULL,
	[gross_pay] [decimal](10, 2) NULL,
	[net_pay] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[payroll_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PerformanceReviews]    Script Date: 8/6/2025 3:03:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerformanceReviews](
	[review_id] [int] NOT NULL,
	[review_date] [date] NOT NULL,
	[comments] [text] NULL,
	[employee_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Policies]    Script Date: 8/6/2025 3:03:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Policies](
	[policy_id] [int] NOT NULL,
	[policy_name] [varchar](150) NOT NULL,
	[policy_details] [text] NULL,
	[effective_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[policy_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 8/6/2025 3:03:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[project_id] [int] NOT NULL,
	[project_name] [varchar](150) NOT NULL,
	[project_description] [text] NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[company_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[project_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Surveys]    Script Date: 8/6/2025 3:03:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Surveys](
	[survey_id] [int] NOT NULL,
	[survey_name] [varchar](150) NOT NULL,
	[survey_description] [text] NULL,
	[created_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[survey_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 8/6/2025 3:03:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[task_id] [int] NOT NULL,
	[task_name] [varchar](150) NOT NULL,
	[description] [text] NULL,
	[due_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[task_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeLogs]    Script Date: 8/6/2025 3:03:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeLogs](
	[time_log_id] [int] NOT NULL,
	[employee_id] [int] NULL,
	[work_date] [date] NOT NULL,
	[hours_worked] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[time_log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingPrograms]    Script Date: 8/6/2025 3:03:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingPrograms](
	[training_program_id] [int] NOT NULL,
	[training_name] [varchar](150) NOT NULL,
	[training_description] [text] NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[training_program_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkFromHomeRequests]    Script Date: 8/6/2025 3:03:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkFromHomeRequests](
	[request_id] [int] NOT NULL,
	[employee_id] [int] NULL,
	[request_date] [date] NULL,
	[approval_status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Announcements] ([announcement_id], [title], [message], [issue_date], [company_id]) VALUES (1, N'National Holiday', N'Office closed tomorrow', CAST(N'2025-08-04' AS Date), 1)
INSERT [dbo].[Announcements] ([announcement_id], [title], [message], [issue_date], [company_id]) VALUES (2, N'Policy Update', N'New attendance policy effective Sept', CAST(N'2025-07-25' AS Date), 2)
GO
INSERT [dbo].[Attendance] ([attendance_id], [employee_id], [check_in_time], [check_out_time], [work_date]) VALUES (1, 1, CAST(N'2025-08-01T08:00:00.0000000' AS DateTime2), CAST(N'2025-08-01T17:00:00.0000000' AS DateTime2), CAST(N'2025-08-01' AS Date))
INSERT [dbo].[Attendance] ([attendance_id], [employee_id], [check_in_time], [check_out_time], [work_date]) VALUES (2, 2, CAST(N'2025-08-01T08:10:00.0000000' AS DateTime2), CAST(N'2025-08-01T17:05:00.0000000' AS DateTime2), CAST(N'2025-08-01' AS Date))
INSERT [dbo].[Attendance] ([attendance_id], [employee_id], [check_in_time], [check_out_time], [work_date]) VALUES (3, 3, CAST(N'2025-08-01T08:15:00.0000000' AS DateTime2), CAST(N'2025-08-01T16:50:00.0000000' AS DateTime2), CAST(N'2025-08-01' AS Date))
GO
INSERT [dbo].[Benefits] ([benefit_id], [benefit_name], [description], [company_id]) VALUES (1, N'Health Insurance', N'Full health coverage', 1)
INSERT [dbo].[Benefits] ([benefit_id], [benefit_name], [description], [company_id]) VALUES (2, N'Transportation Allowance', N'Monthly transport bonus', 1)
GO
INSERT [dbo].[Certifications] ([certification_id], [certification_name], [issuing_organization], [issue_date]) VALUES (1, N'First Aid Certified', N'Red Cross', CAST(N'2024-05-01' AS Date))
GO
INSERT [dbo].[Companies] ([company_id], [company_name], [company_address], [company_email]) VALUES (1, N'Acme Corp', N'123 Main St, Riyadh, Saudi Arabia', N'info@acmecorp.com')
INSERT [dbo].[Companies] ([company_id], [company_name], [company_address], [company_email]) VALUES (2, N'Beta Ltd.', N'456 High St, Jeddah, Saudi Arabia', N'contact@betaltd.com')
GO
INSERT [dbo].[Departments] ([department_id], [department_name], [company_id]) VALUES (1, N'HR', 1)
INSERT [dbo].[Departments] ([department_id], [department_name], [company_id]) VALUES (2, N'Engineering', 1)
INSERT [dbo].[Departments] ([department_id], [department_name], [company_id]) VALUES (3, N'Sales', 2)
GO
INSERT [dbo].[Documents] ([document_id], [document_name], [document_type], [upload_date]) VALUES (1, N'Employee Handbook', N'PDF', CAST(N'2025-01-01' AS Date))
INSERT [dbo].[Documents] ([document_id], [document_name], [document_type], [upload_date]) VALUES (2, N'Safety Guidelines', N'PDF', CAST(N'2025-06-01' AS Date))
GO
INSERT [dbo].[EmergencyContacts] ([emergency_contact_id], [employee_id], [contact_name], [relationship], [contact_phone]) VALUES (1, 1, N'Fatima Doe', N'Spouse', N'0501112222')
INSERT [dbo].[EmergencyContacts] ([emergency_contact_id], [employee_id], [contact_name], [relationship], [contact_phone]) VALUES (2, 2, N'Ahmed Smith', N'Brother', N'0501113333')
GO
INSERT [dbo].[EmployeeBenefits] ([employee_benefit_id], [employee_id], [benefit_id], [start_date]) VALUES (1, 1, 1, CAST(N'2025-01-01' AS Date))
INSERT [dbo].[EmployeeBenefits] ([employee_benefit_id], [employee_id], [benefit_id], [start_date]) VALUES (2, 2, 2, CAST(N'2025-01-01' AS Date))
GO
INSERT [dbo].[EmployeeCertifications] ([employee_certification_id], [employee_id], [certification_id], [achieved_date], [expiration_date]) VALUES (1, 1, 1, CAST(N'2024-05-15' AS Date), CAST(N'2026-05-14' AS Date))
INSERT [dbo].[EmployeeCertifications] ([employee_certification_id], [employee_id], [certification_id], [achieved_date], [expiration_date]) VALUES (2, 2, 1, CAST(N'2024-06-01' AS Date), CAST(N'2026-06-01' AS Date))
GO
INSERT [dbo].[EmployeeDocuments] ([employee_document_id], [employee_id], [document_id]) VALUES (1, 1, 1)
INSERT [dbo].[EmployeeDocuments] ([employee_document_id], [employee_id], [document_id]) VALUES (2, 2, 2)
GO
INSERT [dbo].[EmployeeEquipment] ([employee_equipment_id], [employee_id], [equipment_id], [issue_date], [return_date]) VALUES (1, 1, 1, CAST(N'2024-02-01' AS Date), NULL)
INSERT [dbo].[EmployeeEquipment] ([employee_equipment_id], [employee_id], [equipment_id], [issue_date], [return_date]) VALUES (2, 2, 2, CAST(N'2024-03-21' AS Date), NULL)
GO
INSERT [dbo].[EmployeeEvents] ([employee_event_id], [employee_id], [event_id], [registration_date]) VALUES (1, 1, 1, CAST(N'2025-07-15' AS Date))
INSERT [dbo].[EmployeeEvents] ([employee_event_id], [employee_id], [event_id], [registration_date]) VALUES (2, 2, 2, CAST(N'2025-08-01' AS Date))
GO
INSERT [dbo].[EmployeeProjects] ([employee_project_id], [employee_id], [project_id], [assigned_date], [completion_date], [role_description]) VALUES (1, 1, 1, CAST(N'2025-01-05' AS Date), NULL, N'Lead analyst')
INSERT [dbo].[EmployeeProjects] ([employee_project_id], [employee_id], [project_id], [assigned_date], [completion_date], [role_description]) VALUES (2, 3, 2, CAST(N'2025-02-20' AS Date), NULL, N'Junior dev')
GO
INSERT [dbo].[Employees] ([employee_id], [first_name], [last_name], [email], [phone], [hire_date], [company_id]) VALUES (1, N'John', N'Doe', N'john.doe@example.com', N'0501230001', CAST(N'2023-01-15' AS Date), 1)
INSERT [dbo].[Employees] ([employee_id], [first_name], [last_name], [email], [phone], [hire_date], [company_id]) VALUES (2, N'Jane', N'Smith', N'jane.smith@example.com', N'0501230002', CAST(N'2023-02-20' AS Date), 1)
INSERT [dbo].[Employees] ([employee_id], [first_name], [last_name], [email], [phone], [hire_date], [company_id]) VALUES (3, N'Ali', N'Al-Saud', N'ali.alsaud@example.com', N'0501230003', CAST(N'2023-03-01' AS Date), 1)
GO
INSERT [dbo].[EmployeeSurveys] ([employee_survey_id], [employee_id], [survey_id], [completion_status], [completion_date]) VALUES (1, 1, 1, N'Completed', CAST(N'2025-01-15' AS Date))
INSERT [dbo].[EmployeeSurveys] ([employee_survey_id], [employee_id], [survey_id], [completion_status], [completion_date]) VALUES (2, 2, 1, N'Not Started', NULL)
GO
INSERT [dbo].[EmployeeTasks] ([employee_task_id], [employee_id], [task_id], [status]) VALUES (1, 1, 1, N'In Progress')
INSERT [dbo].[EmployeeTasks] ([employee_task_id], [employee_id], [task_id], [status]) VALUES (2, 3, 2, N'Not Started')
GO
INSERT [dbo].[EmployeeTrainings] ([employee_training_id], [employee_id], [training_program_id], [completion_status]) VALUES (1, 1, 1, N'Completed')
INSERT [dbo].[EmployeeTrainings] ([employee_training_id], [employee_id], [training_program_id], [completion_status]) VALUES (2, 3, 2, N'Scheduled')
GO
INSERT [dbo].[Equipment] ([equipment_id], [equipment_name], [equipment_description], [purchase_date]) VALUES (1, N'Laptop Dell XPS', N'Dell XPS 13" for employees', CAST(N'2024-01-15' AS Date))
INSERT [dbo].[Equipment] ([equipment_id], [equipment_name], [equipment_description], [purchase_date]) VALUES (2, N'Office Chair', N'Ergonomic chair', CAST(N'2024-03-20' AS Date))
GO
INSERT [dbo].[Events] ([event_id], [event_name], [event_date], [location], [description]) VALUES (1, N'Company Picnic', CAST(N'2025-08-10' AS Date), N'Riyadh Park', N'Annual outdoor gathering')
INSERT [dbo].[Events] ([event_id], [event_name], [event_date], [location], [description]) VALUES (2, N'Tech Conference', CAST(N'2025-09-05' AS Date), N'Convention Center', N'Industry talks and workshops')
GO
INSERT [dbo].[Feedback] ([feedback_id], [feedback_text], [feedback_date], [employee_id]) VALUES (1, N'Excellent performance this quarter', CAST(N'2025-07-31' AS Date), 1)
INSERT [dbo].[Feedback] ([feedback_id], [feedback_text], [feedback_date], [employee_id]) VALUES (2, N'Needs improvement in reporting', CAST(N'2025-07-30' AS Date), 2)
GO
INSERT [dbo].[HelpDesks] ([help_desk_id], [contact_name], [contact_email], [contact_phone], [company_id]) VALUES (1, N'IT Support', N'itsupport@acmecorp.com', N'0502000001', 1)
INSERT [dbo].[HelpDesks] ([help_desk_id], [contact_name], [contact_email], [contact_phone], [company_id]) VALUES (2, N'HR Helpdesk', N'hr@betaltd.com', N'0502000002', 2)
GO
INSERT [dbo].[ITSupportTickets] ([ticket_id], [issue_description], [reporter_id], [status], [created_date], [resolved_date]) VALUES (1, N'Cannot access ERP system', 1, N'Open', CAST(N'2025-08-04' AS Date), NULL)
INSERT [dbo].[ITSupportTickets] ([ticket_id], [issue_description], [reporter_id], [status], [created_date], [resolved_date]) VALUES (2, N'Printer not working', 2, N'Resolved', CAST(N'2025-07-29' AS Date), CAST(N'2025-07-30' AS Date))
GO
INSERT [dbo].[JobRoles] ([job_role_id], [job_role_name], [department_id]) VALUES (1, N'HR Manager', 1)
INSERT [dbo].[JobRoles] ([job_role_id], [job_role_name], [department_id]) VALUES (2, N'Software Engineer', 2)
INSERT [dbo].[JobRoles] ([job_role_id], [job_role_name], [department_id]) VALUES (3, N'Sales Executive', 3)
GO
INSERT [dbo].[Leaves] ([leave_id], [leave_type], [start_date], [end_date], [employee_id], [approval_status]) VALUES (1, N'Annual leave', CAST(N'2025-08-10' AS Date), CAST(N'2025-08-20' AS Date), 1, N'Approved')
INSERT [dbo].[Leaves] ([leave_id], [leave_type], [start_date], [end_date], [employee_id], [approval_status]) VALUES (2, N'Sick leave', CAST(N'2025-09-01' AS Date), CAST(N'2025-09-03' AS Date), 2, N'Pending')
GO
INSERT [dbo].[PerformanceReviews] ([review_id], [review_date], [comments], [employee_id]) VALUES (1, CAST(N'2025-06-30' AS Date), N'Excellent team collaboration.', 1)
INSERT [dbo].[PerformanceReviews] ([review_id], [review_date], [comments], [employee_id]) VALUES (2, CAST(N'2025-06-30' AS Date), N'Needs improvement in punctuality.', 2)
GO
INSERT [dbo].[Policies] ([policy_id], [policy_name], [policy_details], [effective_date]) VALUES (1, N'Attendance Policy', N'Details of attendance expectations', CAST(N'2025-01-01' AS Date))
INSERT [dbo].[Policies] ([policy_id], [policy_name], [policy_details], [effective_date]) VALUES (2, N'Leave Policy', N'Leave entitlements and procedure', CAST(N'2025-02-01' AS Date))
GO
INSERT [dbo].[Projects] ([project_id], [project_name], [project_description], [start_date], [end_date], [company_id]) VALUES (1, N'ERP Implementation', N'Company-wide ERP rollout', CAST(N'2025-01-01' AS Date), CAST(N'2025-12-31' AS Date), 1)
INSERT [dbo].[Projects] ([project_id], [project_name], [project_description], [start_date], [end_date], [company_id]) VALUES (2, N'CRM Launch', N'Customer-management system', CAST(N'2025-02-15' AS Date), CAST(N'2025-10-31' AS Date), 2)
GO
INSERT [dbo].[Surveys] ([survey_id], [survey_name], [survey_description], [created_date]) VALUES (1, N'Employee Satisfaction', N'Annual satisfaction survey', CAST(N'2025-01-01' AS Date))
GO
INSERT [dbo].[Tasks] ([task_id], [task_name], [description], [due_date]) VALUES (1, N'Complete user manual', N'Write the ERP user manual', CAST(N'2025-09-30' AS Date))
INSERT [dbo].[Tasks] ([task_id], [task_name], [description], [due_date]) VALUES (2, N'CRM Training', N'Attend vendor training', CAST(N'2025-08-15' AS Date))
GO
INSERT [dbo].[TimeLogs] ([time_log_id], [employee_id], [work_date], [hours_worked]) VALUES (1, 1, CAST(N'2025-08-04' AS Date), 8)
INSERT [dbo].[TimeLogs] ([time_log_id], [employee_id], [work_date], [hours_worked]) VALUES (2, 2, CAST(N'2025-08-04' AS Date), 7)
GO
INSERT [dbo].[TrainingPrograms] ([training_program_id], [training_name], [training_description], [start_date], [end_date]) VALUES (1, N'Safety Training', N'Workplace safety basics', CAST(N'2025-06-01' AS Date), CAST(N'2025-06-05' AS Date))
INSERT [dbo].[TrainingPrograms] ([training_program_id], [training_name], [training_description], [start_date], [end_date]) VALUES (2, N'Customer Service 101', N'Service excellence primer', CAST(N'2025-07-10' AS Date), CAST(N'2025-07-12' AS Date))
GO
INSERT [dbo].[WorkFromHomeRequests] ([request_id], [employee_id], [request_date], [approval_status]) VALUES (1, 5, CAST(N'2025-08-04' AS Date), N'Approved')
INSERT [dbo].[WorkFromHomeRequests] ([request_id], [employee_id], [request_date], [approval_status]) VALUES (2, 6, CAST(N'2025-08-03' AS Date), N'Pending')
GO
ALTER TABLE [dbo].[Announcements]  WITH CHECK ADD FOREIGN KEY([company_id])
REFERENCES [dbo].[Companies] ([company_id])
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employees] ([employee_id])
GO
ALTER TABLE [dbo].[Benefits]  WITH CHECK ADD FOREIGN KEY([company_id])
REFERENCES [dbo].[Companies] ([company_id])
GO
ALTER TABLE [dbo].[Departments]  WITH CHECK ADD FOREIGN KEY([company_id])
REFERENCES [dbo].[Companies] ([company_id])
GO
ALTER TABLE [dbo].[EmergencyContacts]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employees] ([employee_id])
GO
ALTER TABLE [dbo].[EmployeeBenefits]  WITH CHECK ADD FOREIGN KEY([benefit_id])
REFERENCES [dbo].[Benefits] ([benefit_id])
GO
ALTER TABLE [dbo].[EmployeeBenefits]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employees] ([employee_id])
GO
ALTER TABLE [dbo].[EmployeeCertifications]  WITH CHECK ADD FOREIGN KEY([certification_id])
REFERENCES [dbo].[Certifications] ([certification_id])
GO
ALTER TABLE [dbo].[EmployeeCertifications]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employees] ([employee_id])
GO
ALTER TABLE [dbo].[EmployeeDocuments]  WITH CHECK ADD FOREIGN KEY([document_id])
REFERENCES [dbo].[Documents] ([document_id])
GO
ALTER TABLE [dbo].[EmployeeDocuments]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employees] ([employee_id])
GO
ALTER TABLE [dbo].[EmployeeEquipment]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employees] ([employee_id])
GO
ALTER TABLE [dbo].[EmployeeEquipment]  WITH CHECK ADD FOREIGN KEY([equipment_id])
REFERENCES [dbo].[Equipment] ([equipment_id])
GO
ALTER TABLE [dbo].[EmployeeEvents]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employees] ([employee_id])
GO
ALTER TABLE [dbo].[EmployeeEvents]  WITH CHECK ADD FOREIGN KEY([event_id])
REFERENCES [dbo].[Events] ([event_id])
GO
ALTER TABLE [dbo].[EmployeeProjects]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employees] ([employee_id])
GO
ALTER TABLE [dbo].[EmployeeProjects]  WITH CHECK ADD FOREIGN KEY([project_id])
REFERENCES [dbo].[Projects] ([project_id])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([company_id])
REFERENCES [dbo].[Companies] ([company_id])
GO
ALTER TABLE [dbo].[EmployeeSurveys]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employees] ([employee_id])
GO
ALTER TABLE [dbo].[EmployeeSurveys]  WITH CHECK ADD FOREIGN KEY([survey_id])
REFERENCES [dbo].[Surveys] ([survey_id])
GO
ALTER TABLE [dbo].[EmployeeTasks]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employees] ([employee_id])
GO
ALTER TABLE [dbo].[EmployeeTasks]  WITH CHECK ADD FOREIGN KEY([task_id])
REFERENCES [dbo].[Tasks] ([task_id])
GO
ALTER TABLE [dbo].[EmployeeTrainings]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employees] ([employee_id])
GO
ALTER TABLE [dbo].[EmployeeTrainings]  WITH CHECK ADD FOREIGN KEY([training_program_id])
REFERENCES [dbo].[TrainingPrograms] ([training_program_id])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employees] ([employee_id])
GO
ALTER TABLE [dbo].[HelpDesks]  WITH CHECK ADD FOREIGN KEY([company_id])
REFERENCES [dbo].[Companies] ([company_id])
GO
ALTER TABLE [dbo].[ITSupportTickets]  WITH CHECK ADD FOREIGN KEY([reporter_id])
REFERENCES [dbo].[Employees] ([employee_id])
GO
ALTER TABLE [dbo].[JobRoles]  WITH CHECK ADD FOREIGN KEY([department_id])
REFERENCES [dbo].[Departments] ([department_id])
GO
ALTER TABLE [dbo].[Leaves]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employees] ([employee_id])
GO
ALTER TABLE [dbo].[Payroll]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employees] ([employee_id])
GO
ALTER TABLE [dbo].[PerformanceReviews]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employees] ([employee_id])
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD FOREIGN KEY([company_id])
REFERENCES [dbo].[Companies] ([company_id])
GO
ALTER TABLE [dbo].[TimeLogs]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employees] ([employee_id])
GO
ALTER TABLE [dbo].[WorkFromHomeRequests]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employees] ([employee_id])
GO
USE [master]
GO
